<template>
  <v-container>
    <CsvDisplay />
  </v-container>
</template>

<script>
import CsvDisplay from "@/components/CsvDisplay";
export default {
  name: "Home",
  components: {
    CsvDisplay,
  },
  data: () => ({}),
};
</script>
