<template>
  <!-- <v-container fill-height align="center" justify="center"> -->
  <v-row>
    <v-col class="mx-auto" cols="12" sm="12" md="12" lg="8" xl="6">
    </v-col>
    <v-col class="mx-auto" cols="12" sm="12" md="12" lg="8" xl="6">
      <v-card>
      <v-card-title>DIVI Intensivregisterdaten</v-card-title>
      <v-data-table :items="axiosData" :headers="headers"> </v-data-table>
      </v-card>
      <!-- Daten können hier dargestellt werden -->
      <!-- https://vuetifyjs.com/en/ -->
    </v-col>
  </v-row>
</template>

<script>
import RestBackendCalls from "@/services/RestBackendCalls.js";
import axíos from "axios";
export default {
  name: "CsvDisplay",
  data: () => ({
    csvData: null,
    axiosData: [],
    items: [],
  }),
  computed: {
    headers() {
      return [
        {
          text: "Covid Fälle",
          value: "covidFalleAktuell",
        },
        {
          text: "Freie Betten",
          value: "bettenFrei",
        },
        {
          text: "Belegte Betten",
          value: "bettenBelegt",
        },
      ];
    },
  },
  mounted() {
    this.axiosFunc()
  },
  methods: {
    async axiosFunc() {
      await axíos
        .get("http://backend-implementation.apps.mni.thm.de/api/v1/getCSV")
        .then((res) => {
      this.axiosData = [res.data];
    });
    console.log("data", this.axiosData);
    },
    async getData() {
      this.csvData = await RestBackendCalls.doGetRequest(
        "http://localhost:8080/api/v1/getCSV",
        null
      )
        .then((res) => {
          //log reponse data
          console.log("res.data", res.data);
          //reponse should have status 200 and content
          if (res && res.data && res.status == 200) {
            this.csvData = res.data;
          }
        })
        .catch((err) => {
          console.error("request error", err);
          return [];
        });
    },
  },
};
</script>
